---
import BaseLayout from "@layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import Landing from "@components/Landing.astro";
import { t } from "i18n:astro";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import {getOptimizedImage} from "@utils/utils"
import landingImage from "@assets/images/landing.jpg" // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
const optimizedImage = await getOptimizedImage(landingImage)

import { getOptimizedImage } from "@utils/utils";

// Import and Optimize About section images
import aboutImage from "@assets/images/about.jpg";
const optimizedAboutImage = await getOptimizedImage(aboutImage);


---

<BaseLayout
  title={t("common:about-page.landing")}
  description={t("common:about-page.description")}
  preloadedImage={optimizedImage}
>
  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <Landing 
    title={t("about-page.landing")} 
    image={optimizedImage}
  />

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-867">
  <div class="cs-container">
    <picture class="cs-picture">
      <!--Mobile Image-->
      <source media="(max-width: 600px)" srcset={optimizedAboutImage.src}>
      <!--Tablet and above Image-->
      <source media="(min-width: 601px)" srcset={optimizedAboutImage.src}>
      <img loading="lazy" decoding="async" src={optimizedAboutImage.src} alt="therapy" width={optimizedAboutImage.attributes.width} height={optimizedAboutImage.attributes.height}>
    </picture>
    <div class="cs-content">
      <span class="cs-topper">{t("about-page.topper")}</span>
      <h2 class="cs-title">{t("about-page.title")}</h2>
      <p class="cs-text">{t("about-page.p-1")}</p>
      <p class="cs-text">{t("about-page.p-2")}</p>
      <p class="cs-text">{t("about-page.p-3")}</p>
      <div id="quote-827">
        <span class="cs-quote-text">{t("about-page.p-4")}</span>
        <span class="cs-name">Lamai</span>
        <span class="cs-job">{t("about-page.rank")}</span>
        <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="quote" width="136" height="77">
      </div>
    </div>
  </div>
</section>

  <CTA />
</BaseLayout>

<style lang="less">
  /* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-867 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 7vw, 4rem);
        }

        .cs-content {
            /* set text aling to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            /* prevents padding from affecting width and height */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            /* 17 characters wide including spaces */
            max-width: 17ch;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-picture {
            display: block;
            position: relative;
            width: 100%;
            max-width: (630/16rem);
            /* 400px - 775px */
            height: clamp(25rem, 70vw, 48.4375rem);
            /* clips img tag corners */
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 64rem) {
    #sbs-867 {
        padding: var(--sectionPadding);

        .cs-container {
            flex-direction: row;
            max-width: (1280/16rem);
            justify-content: space-between;
        }

        .cs-content {
            width: 53%;
            /* reset the padding, add the section padding back to the section container */
            padding: 0;
        }

        .cs-picture {
            width: 47vw;
            position: relative;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-867 {
            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-picture {
                &:before {
                    background-color: var(--accent);
                }
            }
        }
    }
}

/* Mobile - 360px */
/* you can copy and paste these styles into the section CSS where you placed the #list-827 HTML, or you can place it in your global stylesheet so you can reuse the HTML in any Side By Side section on your site. That way when you make changes to it, it will also change everywhere in the site */
#quote-827 {
    width: 100%;
    max-width: (630/16rem);
    margin: 0 0 (32/16rem) 0;
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
    background-color: var(--sectionColor);
    position: relative;

    .cs-quote-text {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        width: 100%;
        max-width: (500/16rem);
        margin: 0 0 (16/16rem);
        color: #767676;
        display: block;
    }

    .cs-name {
        font-size: (16/16rem);
        line-height: 1.2em;
        text-transform: uppercase;
        font-weight: bold;
        width: 100%;
        margin: 0 0 (4/16rem);
        color: var(--headerColor);
        display: block;
    }

    .cs-job {
        font-size: (14/16rem);
        line-height: 1.5em;
        color: #767676;
        display: block;
    }

    .cs-quote-icon {
        /* 60px - 136px */
        width: clamp(3.75rem, 10vw, 8.5rem);
        height: auto;
        position: absolute;
        bottom: 0;
        /* 16px - 32px */
        right: clamp(1rem, 4vw, 2rem);
    }
}

/* Dark Mode, copy and paste only the styles inside the #list-827 brackets into your section's dark mode media query */
body.dark-mode {
    #quote-827 {
        background-color: var(--accent);

        .cs-quote-text,
        .cs-name {
            color: var(--bodyTextColorWhite);
        }

        .cs-job {
            color: var(--bodyTextColorWhite);
            opacity: 0.8;
        }

        .cs-quote-icon {
            opacity: 0.2;
        }
    }
}

                                

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-2371 {
        padding: var(--sectionPadding);
        background-color: var(--sectionColor);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-card-group {
            margin: 0;
            padding: 0;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: (20/16rem);
        }

        .cs-item {
            width: 100%;
            text-align: left;
            list-style: none;
            margin: 0;
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
            /* 80px - 140px */
            padding-top: clamp(5rem, 10vw, 8.75rem);
            border-radius: (16/16rem);
            background-color: #fff;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            grid-column: span 12;
            grid-row: span 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            position: relative;
            z-index: 1;
        }

        .cs-icon {
            /* 80px - 120px */
            height: clamp(5rem, 9vw, 7.5rem);
            width: auto;
            position: absolute;
            top: 0;
            right: 0;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: bold;
            text-align: inherit;
            margin: 0 0 (12/16rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            max-width: (450/16rem);
            margin: 0;
            padding: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 700px */
@media only screen and (min-width: 43.75rem) {
    #services-2371 {
        .cs-item {
            grid-column: span 4;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-2371 {
            background-color: rgba(0, 0, 0, .2);

            .cs-item {
                background-color: var(--medium);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }
        }
    }
}
                                


</style>
